:root{
    font-size: 16px;
}
*{
    font-family: 'Quicksand', sans-serif;
}
.active{
    background-color: #4fc2f7;
    color: white;

    transition: .2s ease-in-out;
}
#btns>button{
    padding: 1rem 1.5rem;
    border: 3px solid #4fc2f7;
    margin-top: 1rem;

    background-color: 0;

    text-transform: uppercase;
    font-weight: bold;
    font-size: 1rem;

    cursor: pointer;
}
#content{
    width: 50%;
    height: 20rem;
    padding: .5%;
    border: 3px solid #4fc2f7;
    margin-top: 50px;

    display: flex;
    flex-direction: row;
}
#content>div{
    width: 10%;
    margin: 3px;

    color: #287393;
    background-color: #98dffb;

    font-size: 3rem;
    font-weight: bold;

    display: flex;
    align-items: center;
    justify-content: center;
}